@using TaskManager.Infrastructure.Constants
@using TaskManager.Web.Controllers
@model TaskManager.Presentation.Models.SprintModel
@{
    Layout = null;
}

<div id="sprint-popup" class="two-columns-popup-window" title="@(Model.Id > 0 ? "Edit Sprint" : "Create Sprint")">
    @using (Html.BeginForm(Actions.Create, SprintsController.Name, FormMethod.Post, Model))
    {
        <table class="table">
            <tr>
                <td>Description: </td>
                <td colspan="3">@Html.TextBoxFor(m => m.Description)</td>
            </tr>
            <tr>
                <td>Assigned to: </td>
                <td>@Html.DropDownListFor(m => m.ProjectId, Model.Projects)</td>
            </tr>
            <tr>
                <td>Start date: </td>
                <td>@Html.TextBoxFor(m => m.StartDate)</td>
                <td>Duration: </td>
                <td>@Html.TextBoxFor(m => m.Duration)</td>
            </tr>
        </table>

        <div class="buttons-right">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="cancel btn btn-link">Cancel</button>
        </div>
    }
</div>
