@using TaskManager.Infrastructure.Constants
@using TaskManager.Web.Controllers
@model TaskManager.Presentation.Models.WorkItemModel

@{
    ViewBag.Title = "createtask";
    Layout = Views.Layout;
}

<div>
    @using (Html.BeginForm(Model.Id > 0 ? Actions.Create : Actions.Edit, WorkItemsController.Name, FormMethod.Post, Model))
    {
        if (Model.Id > 0)
        {
            <b>#@Model.Id;</b>
        }

        @Html.TextBoxFor(m => m.Type)
        <table class="table">
            <tr>
                <td>Title: </td>
                <td>@Html.TextBoxFor(m => m.Title)</td>
            </tr>
            <tr>
                <td>Sprint: </td>
                <td>@Html.DropDownListFor(m => m.SprintId, Model.Sprints)</td>
            </tr>
            <tr>
                <td>Stard date: </td>
                <td>@Html.TextBoxFor(m => m.DateStarted)</td>
                <td>End date: </td>
                <td>@Html.TextBoxFor(m => m.DateEnded)</td>
            </tr>
            <tr>
                <td>Assigned to: </td>
                <td>@Html.DropDownListFor(m => m.AssignedTo, Model.Developers)</td>
                <td>Effort: </td>
                <td>@Html.TextBoxFor(m => m.Effort)</td>
            </tr>
            <tr>
                <td>State: </td>
                <td>@Html.DropDownListFor(m => m.StateId, Model.States)</td>
                <td>Backlog priority: </td>
                <td>@Html.TextBoxFor(m => m.BacklogPriority)</td>
            </tr>
            <tr>
                <td>Reason: </td>
                <td>@Html.TextBoxFor(m => m.Reason)</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td colspan="3">@Html.TextAreaFor(m => m.Description, new Dictionary<string, object> { { "style", "width: 800; height: 200" } })</td>
            </tr>
        </table>

        <button class="btn btn-primary" type="submit">Save</button>
    }
</div>

