@using TaskManager.Infrastructure.Constants
@using TaskManager.Web.Controllers
@model TaskManager.Presentation.Models.WorkItemModel
@{
    Layout = null;
}

<div id="workitem-popup" class="two-columns-popup-window" title="@(Model.Id > 0 ? "Edit Work Item #" + Model.Id: "Create Work Item")">
    @using (Html.BeginForm(Model.Id > 0 ? Actions.Edit : Actions.Create, WorkItemsController.Name, FormMethod.Post, Model))
    {
        <table class="table">
            <tr>
                <td>Title: </td>
                <td colspan="3">@Html.TextBoxFor(m => m.Title)</td>
            </tr>
            <tr>
                <td>Type: </td>
                <td>@Html.DropDownListFor(m => m.TypeId, new SelectList(Model.Types, "Id", "Type"))</td>
            </tr>
            <tr>
                <td>Sprint: </td>
                <td>@Html.DropDownListFor(m => m.SprintId, new SelectList(Model.Sprints, "Id", "Description"))</td>
            </tr>
            <tr>
                <td>Stard date: </td>
                <td>@Html.TextBoxFor(m => m.DateStarted)</td>
                <td>End date: </td>
                <td>@Html.TextBoxFor(m => m.DateEnded)</td>
            </tr>
            <tr>
                <td>Assigned to: </td>
                <td>@Html.DropDownListFor(m => m.AssignedTo, new SelectList(Model.Developers, "Id", "FullName"))</td>
                <td>Effort: </td>
                <td>@Html.TextBoxFor(m => m.Effort)</td>
            </tr>
            <tr>
                <td>State: </td>
                <td>@Html.DropDownListFor(m => m.StateId, new SelectList(Model.States, "Id", "Title"))</td>
                <td>Backlog priority: </td>
                <td>@Html.TextBoxFor(m => m.BacklogPriority)</td>
            </tr>
            <tr>
                <td>Reason: </td>
                <td>@Html.TextBoxFor(m => m.Reason)</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td colspan="3">@Html.TextAreaFor(m => m.Description)</td>
            </tr>
        </table>

        <div class="buttons-right">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="cancel btn btn-link">Cancel</button>
        </div>
    }
</div>
